[Unit]
Description=QPacman DBus service

[Service]
Environment="LANG=en_US.utf8"
Type=dbus
BusName=com.alexl.qt.QPacmanService
ExecStart=/usr/bin/qpacman_service

[Install]
WantedBy=multi-user.target
