[Unit]
Description=DBus daemon - main core for QPacman and QPacmanTray

[Service]
Type=dbus
BusName=org.alexl.PacmanDBusServer
ExecStart=/usr/bin/QPacmanServer

[Install]
WantedBy=graphical.target

