[Desktop Entry]
Actions=OpenPackageFiles;
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-xz-compressed-tar

[Desktop Action OpenPackageFiles]
Name=Install with qpacman...
Name[ru_RU]=Установить используя qpacman...
Name[be_BY]=Усталяваць праз qpacman...
Icon=qpacman
Exec=qpacman %U
