[Desktop Entry]
Categories=Application;System;
Comment[en_US]=Yet another package manager, GUI to pacman
Comment=Yet another package manager, GUI to pacman
Exec=QPacman
Icon=Pacman-arch_logo
MimeType=application/x-xz-compressed-tar;
Name=QPacman
Path=.
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
